<!DOCTYPE html>
<html>
<head>
  <title>Kitchening</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body class="home">
  <header class="home_header">
    <div class="home_header_logo">
      <img class="home_header_img" src="../img/logo.jpg" alt="Logo de Kitchening">
    </div>
    <div class="home_header_menu">
      <a class="home_header_a--bars" href=""><i class="fas fa-bars"></i></a>
      <nav class="nav_home_button">
        <ul>
          <li><a class="nav_button" href="#">Home</a></li>
          <li><a class="nav_button" href="#">Quienes</a></li>
          <li><a class="nav_button" href="#">Servicios</a></li>
          <li><a class="nav_button" href="#">Portfolio</a></li>
          <li><a class="nav_button" href="#">Sucursales</a></li>
          <li><a class="nav_button" href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <section id="destacado" class="section_destacado">
    <img src="../img/img-banner.jpg" alt="Imagen de comida">
  </section>

  <section id="comidas" class="section_comidas">
    <div class="comida">
      <div class="comida_imagen">
        <img src="../img/img-pdto-1.jpg" alt="Imagen de comida">
        <a href="#" class="comida_ampliar">
          AMPLIAR IMAGEN
        </a>
      </div>
      <h2 class="comida_titulo">Titulo de la comida 1</h2>
      <p class="comida_descripcion">Descripcion de la comida 1</p>
      <a href="#" class="comida_vermas">Ver más</a>
    </div>
    <div class="comida">
      <div class="comida_imagen">
        <img src="../img/img-pdto-2.jpg" alt="Imagen de comida">
        <a href="#" class="comida_ampliar">
          AMPLIAR IMAGEN
        </a>
      </div>
      <h2 class="comida_titulo">Titulo de la comida 2</h2>
      <p class="comida_descripcion">Descripcion de la comida 2</p>
      <a href="#" class="comida_vermas">Ver más</a>
    </div>
    <div class="comida">
      <div class="comida_imagen">
        <img src="../img/img-pdto-3.jpg" alt="Imagen de comida">
        <a href="#" class="comida_ampliar">
          AMPLIAR IMAGEN
        </a>
      </div>
      <h2 class="comida_titulo">Titulo de la comida 3</h2>
      <p class="comida_descripcion">Descripcion de la comida 3</p>
      <a href="#" class="comida_vermas">Ver más</a>
    </div>
  </section>

  <section id="comidas" class="section_comidas">
    <div class="comida">
      <div class="comida_imagen">
        <img src="../img/img-pdto-1.jpg" alt="Imagen de comida">
        <a href="#" class="comida_ampliar">
          AMPLIAR IMAGEN
        </a>
      </div>
      <h2 class="comida_titulo">Titulo de la comida 1</h2>
      <p class="comida_descripcion">Descripcion de la comida 1</p>
      <a href="#" class="comida_vermas">Ver más</a>
    </div>
    <div class="comida">
      <div class="comida_imagen">
        <img src="../img/img-pdto-2.jpg" alt="Imagen de comida">
        <a href="#" class="comida_ampliar">
          AMPLIAR IMAGEN
        </a>
      </div>
      <h2 class="comida_titulo">Titulo de la comida 2</h2>
      <p class="comida_descripcion">Descripcion de la comida 2</p>
      <a href="#" class="comida_vermas">Ver más</a>
    </div>
    <div class="comida">
      <div class="comida_imagen">
        <img src="../img/img-pdto-3.jpg" alt="Imagen de comida">
        <a href="#" class="comida_ampliar">
          AMPLIAR IMAGEN
        </a>
      </div>
      <h2 class="comida_titulo">Titulo de la comida 3</h2>
      <p class="comida_descripcion">Descripcion de la comida 3</p>
      <a href="#" class="comida_vermas">Ver más</a>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Quienes</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
